.link1 {
    padding: 16px 28px;
    display: inline-block;
    background-color: rgba(71, 107, 89, 1);
    color: #FFFFFF;
    border: 0;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
}

.link2 {
    padding: 16px 28px;
    display: inline-block;
    background-color: rgba(71, 107, 89, 1);
    color: #FFFFFF;
    border: 0;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
}

.modal_cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #FFFFFF;
    border-radius: 20px;

    width: 402px;
    height: 181px;

}

.modal.is-show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    /* display: none; */
}

.title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;

    /* border-bottom: 1px solid black;
    height: 20px; */
    margin-top: 20px;
    margin-left: 26px;
}

.modal_div_text {
    width: 247px;
    height: 22px;
    border-bottom: 1px solid black;
    height: 20px;
    margin-left: 26px;
}

.text1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;

    /* border-bottom: 1px solid black;
    height: 20px; */
    margin-top: 20px;

}

.modal_section {
    /* Frame 2065 */
    width: 360px;
    height: 50px;
    border: 0px solid #000;
    margin-left: 26px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.modal_div {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    /* black_text_313030 */
    border: 1px solid #313030;
    border-radius: 4px;
}

.modal_div5 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    /* black_text_313030 */
    border-radius: 4px;
    border: 1px dashed #6F6F6F;
}

.modal_div65 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0px;
    /* black_text_313030 */
    border: 1px solid #313030;
    border-radius: 4px;
}

.modal_size_eu {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.modal_size_ru {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #6F6F6F;
}