.all_modal {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: .3s all;
}

.modal {

    /*  Установаем ширину окна  */
    width: 402px;
    height: 181px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);

    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s all;
}

.title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal_section {
    width: 360px;
    height: 50px;
    margin-left: 26px;
    order: 1;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    flex: 0 0 auto;
}


.modal_div {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(49, 48, 48);
    border-image: initial;
    border-radius: 4px;
    cursor: pointer;
}


.modal_div p:hover {
    background-color: #599D7B;
    color: #FFF;
}

.modal_div:hover {
    background-color: #599D7B;
    color: #FFF;
}


.modal_div65:hover {
    background-color: #599D7B;
    color: #FFF;
}

.modal_div65 p:hover {
    background-color: #599D7B;
    color: #FFF;
}

.modal_div5 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    border-radius: 4px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(111, 111, 111);
    border-image: initial;
    cursor: pointer;
}



.modal_div65 {

    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(49, 48, 48);
    border-image: initial;
    border-radius: 4px;
    cursor: pointer;
}

/* Нижняя полоска для "Руководства по размерам" */
.modal_div_text {
    width: 247px;
    height: 20px;
    margin-left: 26px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

/* Текст "Руководства по размерам" */
.text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

/* При наведении меняем цвет "Руководства по размерам" */
.text:hover {
    color: #599D7B;
}

.modal_div_text:hover {
    border-bottom: 1px solid #599D7B;
}

/* Размер российский */

.modal_size_ru {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    height: 20px;
}

.modal_size_eu {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #6F6F6F;
    height: 25px;
}

.cart__num {
    position: absolute;
    background-color: #FFF;
    width: 15px;
    height: 13px;
    border-radius: 1px;
    top: 18px;
    right: -3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #313030;
}