/* Connection */

/* контейнер серый */
.section_connection {
    margin: 40px auto;
    max-width: 1440px;
    height: 552px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* grey_fon_E6E6E5*/
    background: #E6E6E5;
}

.section_connection_long {

    height: 562px;

    /* grey_fon_E6E6E5*/
    background-color: #E6E6E5;
}

/* Контейнер с картинкой */
.section_connection_picture {
    margin-left: 40px;
    margin-right: 128px;
    width: 679px;
    height: 392px;
    border-radius: 19px;
    background-color: #FFFFFF;
    background-image: url(img/D7E11812-6C34-456D-A315-96C0334AA892\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


/* текст "Подпишитесь на новости" */
.text_connection {
    margin-top: -200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;

    /* black_text_313030 */
    color: #313030;
}

/*текст "Узнайте первым о наших акциях и скидках"*/
.text_connection1 {

    /* 18 montserrat */
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    display: flex;

    /* black_text_313030 */
    color: #313030;
}

/*текст "Имя,E-mail"*/
.text_connection2 {

    /* 18 montserrat */
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;

    /* identical to box height, or 18px */
    display: flex;
    align-items: center;

    /* black_text_313030 */
    color: #313030;
}

/* Input Имя */
.connection_textbox_1 {
    display: flex;
    flex: flex;
    align-items: center;
    position: absolute;
    margin-top: 8px;
    margin-left: 0px;

    box-sizing: border-box;
    height: 40px;
    max-width: 264px;
    width: 264px;

    border: 0px solid;
    border-radius: 8px;
    background-image: url(./img/Vector_x.svg);
    background-position: 238px 7px;
    background-repeat: no-repeat;
}

/* placeholder color pozition */
::-webkit-input-placeholder {
    font-size: 16px;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    color: rgba(204, 204, 204, 1);
}

/* Input E-mail */
.connection_textbox_2 {
    display: flex;
    flex: flex;
    align-items: center;
    position: absolute;
    margin-top: 8px;
    margin-left: 291px;

    box-sizing: border-box;
    height: 40px;
    max-width: 264px;
    width: 264px;

    border: 0px solid;
    border-radius: 8px;
    background-image: url(./img/Vector_x.svg);

    background-position: 238px 7px;
    background-repeat: no-repeat;
}

/*текст "Согласие"*/
.text_connection3 {

    /* 18 montserrat */
    position: absolute;
    margin-top: 98px;
    margin-left: 20px;

    font-family: 'Montserrat';
    display: flex;
    font-weight: 500px;
    font-size: 14px;
    /*margin-left: 34px;*/

    /* black_text_313030 */
    color: #313030;
}

/*текст "Согласие"*/
.text_connection4 {

    /* 18 montserrat */
    position: absolute;
    margin-top: 116px;
    margin-left: 20px;

    font-family: 'Montserrat';
    display: flex;
    font-weight: 500px;
    font-size: 14px;
    /*margin-left: 34px;*/

    /* black_text_313030 */
    color: #313030;
}

/* чекбокс*/
.checkmark {
    height: 14px;
    max-width: 14px;
    background-color: #E6E6E5;
}

/* чекбокс стилизация*/
.container_checkmark {
    display: flex;
    position: absolute;
    margin-top: 98px;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(153, 154, 153);
    background: #E6E6E5;
}

/* button "Подписаться" */
.connection_button {
    /* box-sizing: border-box; */
    padding: 16px 28px;
    gap: 10px;
    width: 180px;
    height: 52px;

    border: 0;
    border-radius: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(71, 107, 89, 1);
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    margin-top: 186px;
}