.gratitude_main{
    width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.gratitude_lable_1{
    margin: 0 auto;
    margin-top: 198px;

    color: #313030;


    width: 825px;
    height: 80px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 40px;

    text-align: center;

}
.gratitude_lable_2{
    margin: 0 auto;
    margin-top: 40px;

    width: 825px;
    height: 29px;

    font-family: 'MonserratBold';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #313030;
}
.gratitude_button_1{
    margin: 0 auto;
    margin-top: 40px;
    display: block;

    width: 306px;
    height: 54px;
    border-radius: 35px;
    background: #476B59;
    margin-top: 28px;
    border: none;
    cursor: pointer;
    align-items: center center;
}

.gratitude_button_1:hover{
    background-color:#599D7B;
}
.gratitude_button_1:active{
    background-color:#3D5C4C;
}
.gratitude_button_1{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #FFFFFF;
}
.gratitude_lable_3{
    margin: 0 auto;
    margin-top: 80px;
    width: 702px;
    height: 60px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;

    color: #313030;
}
#gratitude_link_1 a{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    
    text-decoration-line: underline;
    
    color: #313030;
}
#gratitude_link_1 a:hover {
    color: #476B59;

    font-weight: 600;
}
.gratitude_link_1_1{
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    text-align: center;
}
.gratitude_products{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center
}

@font-face {
    font-family: "MonserratBold"; 
    src: url("./source/font/static/Montserrat-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }