.basket{
    margin: 0 auto;
    background-color: #FBFBFB;;
    max-width: 1440px;
    height: 1446px;
}
.basket_lable_1{
    position: relative;
    width: 291px;
    height: 20px;
    left: 40px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;

    color: #313030;
}
.basket_lable_2{
    margin: 0 auto;
    margin-top: 100px;


    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    color: #313030;
}
.basket_lable_2 a{
    color: #313030;
}
.basket_main{
    margin-top: 37px;
    display: flex;
    align-items: flex-end;
}
.basket_items{
    margin-left: 40px;

    width: 900px;
    height: 400px;

    background: #FFFFFF;
    border-radius: 20px;
}
.basket_item_1{
    padding: 20px 0px 0px 20px;
}
.basket_item_2{
}
.basket_price{
    margin-left: 135px;

    width: 325px;
    height: 400px;

    background: #FFFFFF;
    border-radius: 10px;
}
.basket_shipping{
    width: 900px;
    height: 196px;
    margin-left: 40px;
    margin-top: 40px;

    background: #FFFFFF;
    border-radius: 20px;
}
.basket_confirm{
    margin-left: 40px;
    margin-top: 80px;
    width: 670px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}
.basket_input{
    margin-top: 20px;
    margin-left: 40px;
    box-sizing: border-box;
    display: block;

    width: 900px;
    height: 103px;

    background: #FBFBFB;
    border: 1px solid #666666;
    border-radius: 4px;
    resize: none;
    padding: 8px 0px 71px 8px;

}
.basket_pros_1{
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    max-width: 900px;
}
.basket_pros_2{
    margin-top: 40px;
    display: flex;
    align-content: flex-end;
    max-width: 900px;
}
.pros_text_1{
    margin-left: 40px;
    width: 354px;
    height: 106px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1F1A1A;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.pros_text_1{
    margin-left: 40px;
    width: 354px;
    height: 106px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1F1A1A;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.basket_img_1
{
    margin-bottom: 57px;
}
.basket_payment{
    max-width: 263px;
    display: flex;
    align-items: flex-end;
}
.basket_text_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #313030;
}
.basket_text_2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #313030;   
}
.basket_shipping_header{
    width: 329px;
    height: 36px;

    padding: 10px 0 0 20px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 56px;

    color: #313030;
}
.basket_shipping_radiobutton_1 {
	margin-top: 29px;
    margin-left: 23px;
    color: #313030;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.basket_shipping_1{
    display: flex;
    align-items: flex-end;
    gap: 227px;
}
.basket_shipping_2{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 90px;
}
.basket_shipping_2_text_1{
    color: #313030;
}
.basket_shipping_2 a{
    width: 321px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;

    color: #989898;
}