.basket{
    margin: 0 auto;
    background-color: #FBFBFB;;
    max-width: 1440px;
    height: 1446px;
}
.basket_lable_1{
    position: relative;
    width: 291px;
    height: 20px;
    left: 40px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #313030;
}
.basket_lable_1 a{
    color: #313030;
}
.basket_lable_2{
    margin: 0 auto;
    margin-top: 100px;


    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    color: #313030;
}
.basket_lable_2 a{
    color: #313030;
}
.basket_main{
    margin-top: 37px;
    display: flex;
}
.basket_items{
    margin-left: 40px;

    width: 900px;
    height: 400px;

    background: #FFFFFF;
    border-radius: 20px;
}
.basket_item_1{
    padding: 24px 0px 0px 20px;
}
.basket_item_2{
    padding: 40px 0px 0px 20px;
}
.basket_item_text{
    display: flex;
    align-items: flex-start;
}
.basket_item_text_1{
    padding: 24px 0px 0px 24px;
    width: 242px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #313030;
}
.basket_item_text_1_1{
    padding: 40px 0px 0px 24px;
    width: 242px;
    height: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #313030;
}
.basket_item_text_2{
    padding-top: 24px;
    margin-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}.basket_item_text_2_1{
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}
.basket_item_text_3{
    padding-top: 28px;
    margin-left: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #313030;

}
.basket_item_text_3_1{
    padding-top: 44px;
    margin-left: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #313030;

}
.basket_item_text_4{
    padding-top: 24px;
    margin-left: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}
.basket_item_text_4_1{
    padding-top: 40px;
    margin-left: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}
.basket_item_text_5{
    padding-top: 24px;
    margin-left: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    
    color: #313030;
}
.basket_item_text_5_1{
    padding-top: 40px;
    margin-left: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    
    color: #313030;
}
.basket_item_text_6{
    margin-top: 10px;
    margin-left: 24px;

    width: 242px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #313030;
    
}
.basket_item_text_7{
    margin-top: 20px;
    margin-left: 337px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-decoration-line: underline;
    
    color: #313030;
    
}
.basket_item_text_8{
    margin-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #313030;
}
.basket_item_text_9{
    margin-top: 1px;
    margin-left: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #313030;  
}
.basket_item_text_10{
    margin-top: 10px;
    margin-left: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #6F6666; 
}
.basket_item_text_12{
    margin-top: 10px;
    margin-left: 20px;
}
.basket_item_text_11{
    margin-top: 10px;
    margin-left: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #6F6666; 
}
.basket_price{
    margin-left: 135px;

    width: 325px;
    height: 400px;

    background: #FFFFFF;
    border-radius: 10px;
}
.basket_shipping{
    width: 900px;
    height: 196px;
    margin-left: 40px;
    margin-top: 40px;

    background: #FFFFFF;
    border-radius: 20px;
}
.basket_confirm{
    margin-left: 40px;
    margin-top: 80px;
    width: 670px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
}
.basket_input{
    margin-top: 20px;
    margin-left: 40px;
    box-sizing: border-box;
    display: block;

    width: 900px;
    height: 103px;

    background: #FBFBFB;
    border: 1px solid #666666;
    border-radius: 4px;
    resize: none;
    padding: 8px 0px 71px 8px;

}
.basket_pros_1{
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    max-width: 900px;
}
.basket_pros_2{
    margin-top: 40px;
    display: flex;
    align-content: flex-end;
    max-width: 900px;
}
.pros_text_1{
    margin-left: 40px;
    width: 354px;
    height: 106px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1F1A1A;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.pros_text_1{
    margin-left: 40px;
    width: 354px;
    height: 106px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1F1A1A;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.basket_img_1
{
    margin-bottom: 57px;
}
.basket_payment{
    max-width: 263px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}
.basket_text_1{
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #313030;
}
.basket_text_2{
    margin-top: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #313030;   
}
.basket_text_3{
    margin-top: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #313030;   
}
.basket_shipping_header{
    width: 329px;
    height: 36px;

    padding: 10px 0 0 20px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 56px;

    color: #313030;
}
.basket_shipping_radiobutton_1 {
	margin-top: 29px;
    margin-left: 23px;
    color: #313030;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.basket_shipping_radiobutton_1 input[type=radio] {
	display: none;
}
.basket_shipping_radiobutton_1 label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.basket_shipping_radiobutton_1 label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(./img/Untitled.svg) 0 0 no-repeat;
}
 
/* Checked */
.basket_shipping_radiobutton_1 input[type=radio]:checked + label:before {
	background: url(./img/Union.svg) 0 0 no-repeat;
}
 
/* Hover */
.basket_shipping_radiobutton_1 label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled */
.basket_shipping_radiobutton_1 input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}
.basket_shipping_1{
    display: flex;
    align-items: flex-end;
    gap: 286px;
}
.basket_shipping_2{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 90px;
}
.basket_shipping_2_text_1{
    color: #313030;
    margin-left: 3px;
}
.basket_shipping_2 p{
    padding-bottom: 10px;
    width: 321px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    display: flex;
    align-items: flex-end;

    color: #989898;
}
.basket_button_1{
        margin-left: 31px;
        margin-top: 70px;
        width: 263px;
        height: 56px;
        border-radius: 35px;
        background: #476B59;
        margin-top: 28px;
        border: none;
        cursor: pointer;
    }
    
    .basket_button_1:hover{
        background-color:#599D7B;
    }
    .basket_button_1:active{
        background-color:#3D5C4C;
    }
.basket_button_text_1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}
.basket_reminder_text{
    margin-left: 31px;
    margin-top: 36px;
    width: 263px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #476B59;
}

.basket_shipping_2_text_1 select{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #313030;
    border: 1px solid #313030;
    border-radius: 4px;
    width: 305px;
    height: 40px;

    outline-color:  #476B59;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 7px 8px 8px 8px;
  }
  
  .basket_shipping_2_text_1 select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.9em) 1.1em;
    background-size: 0.65em auto;
    background-image: url(./img/Intersect.svg);
  }
  .basket_shipping_2_text_1 select:-ms-expand {
    display: none;

  }
.basket_text_radio_1{
    margin-left: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #989898;
}
.basket_shipping_radiobutton_2{
    display: flex;
}
.radio_label_1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #313030;
}