.section_404_1{

    margin: 40px auto;
    max-width: 1130px;
    height: 660px;
    border-radius: 19px;
    background: url(./img/3264719_2217\ 1.png) center center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.text_404_1{
    margin: 0 auto;
    padding: 149px 0px 375px 0px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 256px;
    line-height: 300px;
    color: #FFFFFF;
}
@media screen and (max-width: 475px) {

    .text_404_1{
        font-size: 50vw;
    }
}
.text_404_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 256px;
    height: 28px;
    left: calc(50% - 256px/2 - 5px);
    padding: 169px 0px 0px 0px;

    width: 300px;

    margin: 0 auto;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.button_404_1{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    position: absolute;
    width: 383px;
    height: 56px;
    left: calc(50% - 383px/2 - 0.5px);
    margin-top: 164px;
    

    background: #FFFFFF;
    border-radius: 35px;
    border: none;

    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 1.4s;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #313030;

    transition: 0.4s;
}




.button_404_1:hover{
    background: #dfdfdf;

    color: #313030;
    transition:0.3s;
}


.button_404_1:active{
    background: #cccccc;

}

@media screen and (max-width: 405px) {

    .button_404_1{
        width: 100vw;
        left: 0;
        padding: 16px 0px;
    }
    }
@font-face {
    font-family: "Tenor Sans"; 
    src: url("source/font/TenorSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
@font-face {
    font-family: "Montserrat"; 
    src: url("source/font/Montserrat-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}