.all_modal {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: .3s all;
}

.x_close{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 456px;
    margin-top: 20px;
    cursor: pointer;
    }

.modal {
    /*  Установаем ширину окна  */
    width: 500px;
    height: 499px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);

    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s all;
}
/* Контактная информация */
.title {
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 28px;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #313030;
}

.real-checkbox {
    display: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.size1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(153, 154, 153);
    background: #E6E6E5;
    border-radius: 2px;
}


.size1:before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    background-image: url(./img/Vector\ 7.svg);

    transform: scale(0);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    transition: 0.2s;
    background-size: contain;
    margin-bottom: 3px;
}





.real-checkbox:checked+.size1:before {
    transform: scale(1);
}



/* Текст "Сумма вашего заказа" */
.text {
    font-family: 'Montserrat';
    font-weight: 700;

    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
    color: #313030;
    display: inline-block;
    
}
/* Текст "17980р" */
.text_price {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    /* margin-left: 750px; */
    color: #313030;
    display: inline-block;
    margin-left: 75px;
}


/* Счётчик корзины */
.cart__num {
    position: absolute;
    background-color: #FFF;
    width: 15px;
    height: 13px;
    border-radius: 1px;
    top: 18px;
    right: -3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #313030;
}

/* Connection */



/*текст ИМЯ*/
.text_connection0 {

    /* 18 montserrat */
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;

    /* identical to box height, or 18px */
    display: flex;
    align-items: center;

    /* black_text_313030 */
    color: #313030;
}

/*текст МЭЙЛ*/
.text_connection2 {

    /* 18 montserrat */
    margin-top: 40px;
    margin-left: 20x;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;

    /* identical to box height, or 18px */
    display: flex;
    align-items: center;

    /* black_text_313030 */
    color: #313030;
}

/*текст ТЕЛЕФОН*/
.text_connection3 {

    /* 18 montserrat */
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;

    /* identical to box height, or 18px */
    display: flex;
    align-items: center;

    /* black_text_313030 */
    color: #313030;
}

/* Input Имя */
.connection_textbox_3 {
    display: flex;
    flex: flex;
    align-items: center;


    margin-left: 20px;
    margin-top: 8px;

    box-sizing: border-box;
    max-width: 460px;
    width: 460px;
    height: 40px;

    border: 1px solid rgba(152, 152, 152, 1);
    border-radius: 8px;
    background-image: url(./img/x-circle.svg);
    background-position: 434px 8px;
    background-repeat: no-repeat;
}


/* Input Телефон */
.connection_textbox_1 {
    display: flex;
    flex: flex;
    align-items: center;

    margin-top: 8px;
    margin-left: 20px;

    box-sizing: border-box;
    height: 40px;
    max-width: 210px;
    width: 210px;

    border: 1px solid rgba(152, 152, 152, 1);
    border-radius: 8px;
    background-image: url(./img/x-circle.svg);
    background-position: 184px 8px;
    background-repeat: no-repeat;
}


.position_conection {
    display: flex;
}

/* placeholder color pozition */
::-webkit-input-placeholder {
    font-size: 16px;

    margin-top: 8px;
    margin-left: 8px;
    color: rgba(204, 204, 204, 1);
}

.position_conection1 {
    margin-left: 36px;
}

/* Input E-mail */
.connection_textbox_2 {
    display: flex;
    flex: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 0px;


    box-sizing: border-box;
    height: 40px;
    max-width: 210px;
    width: 210px;

    border: 1px solid rgba(152, 152, 152, 1);
    border-radius: 8px;
    background-image: url(./img/x-circle.svg);

    background-position: 184px 8px;
    background-repeat: no-repeat;
}

.connection_textbox_1:active {
    outline: 0;
    outline-offset: 0;

}

.connection_textbox_1:focus {
    outline: 0;
    outline-offset: 0;
}

.connection_textbox_2:active {
    outline: 0;
    outline-offset: 0;

}

.connection_textbox_2:focus {
    outline: 0;
    outline-offset: 0;
}

.connection_textbox_3:active {
    outline: 0;
    outline-offset: 0;

}

.connection_textbox_3:focus {
    outline: 0;
    outline-offset: 0;
}



/* Текст "Соглашаюсь с условиями" */
.text_connection5 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    text-decoration: underline;
    color: #313030;
}

/* Текст "Политики обработки персональных данных" */
.text_connection6 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 18px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: #313030;
}

.text_connection5:hover {
    color: #599D7B;
}

.position_checkbox1 {
    display: flex;
    margin-top: 34px;
    margin-left: 15px;
}


/* чекбокс*/


/* чекбокс стилизация*/
.container_checkmark {

    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;

    position: absolute;
    z-index: 1;
}

.custom_container {
    /* display: inline-block; */
    width: 14px;
    height: 14px;
    border: 2px solid rgb(153, 154, 153);
    background: #E6E6E5;
    border-radius: 2px;


}

.custom_container:before {
    /* content: ""; */
    background-image: url(./img/Vector\ 7.svg);
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3px;

    transform: scale(0);
    transition: 0.2s;
}

.container_checkmark:checked+.custom_container:before {
    transform: scale(1);
}


.real-checkbox {
    display: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;

}

.size1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(153, 154, 153);
    background: #FFF;
    border-radius: 2px;
    margin-left: 20px;
}


.size1:before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    background-image: url(./img/Vector\ 7.svg);

    transform: scale(0);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    transition: 0.2s;
    background-size: contain;
    margin-bottom: 3px;
}

.real-checkbox:checked+.size1:before {
    transform: scale(1);
}

::placeholder {
    transform: translateX(10px);
}

input[type=text] {
    padding-left: 5px;
    
    font-size: 16px;
}

:active,
:hover,
:focus {
    border-color: #3D5C4C;
}

.basket_btn_1 {
    margin-left: 20px;
    margin-top: 20px;
    width: 460px;
    height: 52px;
    border-radius: 35px;
    background: #476B59;
    margin-top: 28px;
    border: none;
    cursor: pointer;
}

.basket_btn_1:hover {
    background-color: #599D7B;
}

.basket_btn_1:active {
    background-color: #3D5C4C;
}

.basket_btn_text_1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}